In [37]:
import numpy as np
import pandas as pd

rnames = ['user_id', 'movie_id', 'rating', 'timestamp'] 
ratings = pd.read_table('../data/ml-1m/ratings.dat', sep='::',engine='python', header=None, names=rnames)

In [41]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [34]:
Ys = np.mat(ratings)
Ys

matrix([[        1,      1193,         5, 978300760],
        [        1,       661,         3, 978302109],
        [        1,       914,         3, 978301968],
        ...,
        [     6040,       562,         5, 956704746],
        [     6040,      1096,         4, 956715648],
        [     6040,      1097,         4, 956715569]])

In [125]:
Nr = 6040 # Number of users
Nc = 3952 # Number of movies
Nk = 2

Ysize = Ys.shape[0]

A = np.mat(np.random.rand(Nr, Nk))
B = np.mat(np.random.rand(Nk, Nc))

EPOCH = 100
Eta = 0.1
eta = Eta
sample = 50000 # 50000 random rating will be chosen and error will be calculated only for those

#Obtain M matrix and Y matrix
M = np.mat(np.zeros((Nr, Nc)))
Y = np.mat(np.zeros((Nr, Nc)))

for i in range(Ysize):
    user = Ys[i,0]
    movie = Ys[i,1]
    M[user-1, movie-1] = 1;
    Y[user-1, movie-1] = Ys[i, 2]
 
Y

matrix([[ 5.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        ...,
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 0.,  0.,  0., ...,  0.,  0.,  0.],
        [ 3.,  0.,  0., ...,  0.,  0.,  0.]])

In [126]:
for i in range(EPOCH):
    E = np.array(M)*np.array(Y - A*B)
    Err = np.sum(E*E)/np.sum(np.array(M))
    if i%10==0:
        print(Err)
    np.random.shuffle(Ys)
    
    for k in range(sample):
        #k = np.random.randint(0, Ysize)
        
        u = Ys[k,0] - 1
        m = Ys[k,1] - 1
        
        err = Ys[k,2] - A[u,:]*B[:,m]
        
        temp_A = A[u,:] + eta*err[0,0]*B[:,m].T
        B[:,m]   = B[:,m] + eta*err[0,0]*A[u,:].T
        A[u,:]   = temp_A
    
    eta = Eta*1./(i+1)

Yr = A*B
Yr

10.8316889325
0.869140229994
0.842302863522
0.834401840883
0.829917998076
0.827403225737
0.82559378991
0.824215830154
0.823266332522
0.822331605801

matrix([[ 4.21015701,  3.2469281 ,  3.18366263, ...,  3.81315771,
          4.05331565,  4.11818247],
        [ 3.98883413,  3.06847505,  3.01465502, ...,  3.63083144,
          3.85507223,  3.94309259],
        [ 4.25654225,  3.31208763,  3.22496815, ...,  3.78657643,
          4.04183864,  4.00690285],
        ...,
        [ 3.39727066,  2.62216591,  2.56942419, ...,  3.07191298,
          3.2666118 ,  3.31161254],
        [ 4.02229178,  3.15923312,  3.053725  , ...,  3.50951972,
          3.76320644,  3.62956273],
        [ 3.71192063,  2.88811952,  2.81229569, ...,  3.30252729,
          3.52504884,  3.49522885]])

In [134]:

result = np.zeros([20, 10])

Yp = A*B # This is a dummy matrix to be used while searching the max rated movies

# Find out the indeces of the maximum values in each row (corresponds to users)
# These indeces will be the max rated movies of this user
# In the assignment, we were asked to find out the 10 max rated movies of the first 20 users

for i in range(20):
    for j in range(10):
        idx = np.argmax(Yp[i, :])
        result[i, j] = idx
        Yp[i, idx] = 0 # reset to invalid rating to prevent this index to be found in further search


for i in range(20):
    u= str(i+1)
    print("User #" + u + "'s highest rating movies are:")
    for k in range(10):
        m = str(result[i, k])
        rate = round(Yr[i-1, result[i, k]], 3) # to get rid of unnecessary decimals
        rate = str(rate)
        print("\tMovie #" + m + " with rating " + rate)

User #1's highest rating movies are:
	Movie #2018.0 with rating 4.212
	Movie #2904.0 with rating 4.198
	Movie #49.0 with rating 4.131
	Movie #1177.0 with rating 4.11
	Movie #1211.0 with rating 4.071
	Movie #3434.0 with rating 4.073
	Movie #857.0 with rating 4.117
	Movie #921.0 with rating 4.121
	Movie #749.0 with rating 4.066
	Movie #1147.0 with rating 4.084
User #2's highest rating movies are:
	Movie #2018.0 with rating 4.858
	Movie #2904.0 with rating 4.79
	Movie #49.0 with rating 4.755
	Movie #1211.0 with rating 4.739
	Movie #3434.0 with rating 4.736
	Movie #1177.0 with rating 4.739
	Movie #857.0 with rating 4.736
	Movie #921.0 with rating 4.733
	Movie #749.0 with rating 4.704
	Movie #1147.0 with rating 4.702
User #3's highest rating movies are:
	Movie #2018.0 with rating 4.624
	Movie #2904.0 with rating 4.545
	Movie #49.0 with rating 4.524
	Movie #921.0 with rating 4.501
	Movie #857.0 with rating 4.504
	Movie #903.0 with rating 4.424
	Movie #1177.0 with rating 4.511
	Movie #317.0 with rating 4.461
	Movie #1206.0 with rating 4.462
	Movie #744.0 with rating 4.453
User #4's highest rating movies are:
	Movie #2018.0 with rating 4.829
	Movie #2904.0 with rating 4.814
	Movie #49.0 with rating 4.736
	Movie #921.0 with rating 4.725
	Movie #857.0 with rating 4.721
	Movie #1177.0 with rating 4.712
	Movie #317.0 with rating 4.708
	Movie #903.0 with rating 4.718
	Movie #1206.0 with rating 4.698
	Movie #3434.0 with rating 4.67
User #5's highest rating movies are:
	Movie #2018.0 with rating 4.827
	Movie #2904.0 with rating 4.792
	Movie #49.0 with rating 4.73
	Movie #921.0 with rating 4.715
	Movie #857.0 with rating 4.713
	Movie #1177.0 with rating 4.709
	Movie #317.0 with rating 4.691
	Movie #903.0 with rating 4.687
	Movie #3434.0 with rating 4.682
	Movie #1211.0 with rating 4.681
User #6's highest rating movies are:
	Movie #2904.0 with rating 3.883
	Movie #2018.0 with rating 3.913
	Movie #903.0 with rating 3.797
	Movie #317.0 with rating 3.802
	Movie #921.0 with rating 3.822
	Movie #49.0 with rating 3.835
	Movie #526.0 with rating 3.772
	Movie #857.0 with rating 3.821
	Movie #1206.0 with rating 3.797
	Movie #744.0 with rating 3.79
User #7's highest rating movies are:
	Movie #2018.0 with rating 4.941
	Movie #2904.0 with rating 4.989
	Movie #49.0 with rating 4.856
	Movie #1177.0 with rating 4.822
	Movie #857.0 with rating 4.845
	Movie #921.0 with rating 4.857
	Movie #1211.0 with rating 4.723
	Movie #3434.0 with rating 4.73
	Movie #1147.0 with rating 4.802
	Movie #749.0 with rating 4.752
User #8's highest rating movies are:
	Movie #2904.0 with rating 5.214
	Movie #2018.0 with rating 5.282
	Movie #903.0 with rating 5.085
	Movie #317.0 with rating 5.111
	Movie #921.0 with rating 5.149
	Movie #49.0 with rating 5.171
	Movie #526.0 with rating 5.064
	Movie #857.0 with rating 5.15
	Movie #1206.0 with rating 5.109
	Movie #744.0 with rating 5.099
User #9's highest rating movies are:
	Movie #2018.0 with rating 4.906
	Movie #2904.0 with rating 4.96
	Movie #49.0 with rating 4.823
	Movie #921.0 with rating 4.825
	Movie #857.0 with rating 4.813
	Movie #903.0 with rating 4.894
	Movie #1177.0 with rating 4.788
	Movie #317.0 with rating 4.833
	Movie #1206.0 with rating 4.812
	Movie #744.0 with rating 4.807
User #10's highest rating movies are:
	Movie #2018.0 with rating 4.472
	Movie #2904.0 with rating 4.457
	Movie #49.0 with rating 4.386
	Movie #921.0 with rating 4.375
	Movie #857.0 with rating 4.372
	Movie #1177.0 with rating 4.364
	Movie #317.0 with rating 4.359
	Movie #903.0 with rating 4.368
	Movie #1206.0 with rating 4.351
	Movie #744.0 with rating 4.344
User #11's highest rating movies are:
	Movie #2018.0 with rating 5.207
	Movie #2904.0 with rating 5.174
	Movie #1211.0 with rating 5.046
	Movie #3434.0 with rating 5.046
	Movie #49.0 with rating 5.103
	Movie #1177.0 with rating 5.08
	Movie #857.0 with rating 5.086
	Movie #921.0 with rating 5.088
	Movie #749.0 with rating 5.03
	Movie #3133.0 with rating 4.991
User #12's highest rating movies are:
	Movie #2018.0 with rating 4.058
	Movie #2904.0 with rating 3.979
	Movie #49.0 with rating 3.969
	Movie #1211.0 with rating 3.977
	Movie #1177.0 with rating 3.959
	Movie #3434.0 with rating 3.974
	Movie #857.0 with rating 3.951
	Movie #921.0 with rating 3.946
	Movie #749.0 with rating 3.936
	Movie #1147.0 with rating 3.924
User #13's highest rating movies are:
	Movie #2018.0 with rating 4.418
	Movie #2904.0 with rating 4.355
	Movie #49.0 with rating 4.324
	Movie #921.0 with rating 4.304
	Movie #857.0 with rating 4.306
	Movie #1177.0 with rating 4.31
	Movie #903.0 with rating 4.245
	Movie #317.0 with rating 4.27
	Movie #1206.0 with rating 4.27
	Movie #744.0 with rating 4.262
User #14's highest rating movies are:
	Movie #2904.0 with rating 4.317
	Movie #2018.0 with rating 4.336
	Movie #903.0 with rating 4.229
	Movie #317.0 with rating 4.223
	Movie #921.0 with rating 4.24
	Movie #526.0 with rating 4.195
	Movie #49.0 with rating 4.251
	Movie #1206.0 with rating 4.215
	Movie #857.0 with rating 4.237
	Movie #744.0 with rating 4.209
User #15's highest rating movies are:
	Movie #2904.0 with rating 3.944
	Movie #2018.0 with rating 3.897
	Movie #903.0 with rating 3.894
	Movie #317.0 with rating 3.842
	Movie #921.0 with rating 3.834
	Movie #49.0 with rating 3.832
	Movie #526.0 with rating 3.834
	Movie #857.0 with rating 3.824
	Movie #1206.0 with rating 3.825
	Movie #744.0 with rating 3.821
User #16's highest rating movies are:
	Movie #2018.0 with rating 4.252
	Movie #1211.0 with rating 4.064
	Movie #3434.0 with rating 4.07
	Movie #49.0 with rating 4.18
	Movie #1177.0 with rating 4.151
	Movie #3133.0 with rating 4.025
	Movie #749.0 with rating 4.089
	Movie #2904.0 with rating 4.297
	Movie #857.0 with rating 4.171
	Movie #921.0 with rating 4.181
User #17's highest rating movies are:
	Movie #2018.0 with rating 4.202
	Movie #2904.0 with rating 4.081
	Movie #49.0 with rating 4.102
	Movie #1211.0 with rating 4.149
	Movie #3434.0 with rating 4.142
	Movie #1177.0 with rating 4.097
	Movie #857.0 with rating 4.081
	Movie #921.0 with rating 4.071
	Movie #749.0 with rating 4.085
	Movie #1147.0 with rating 4.056
User #18's highest rating movies are:
	Movie #2018.0 with rating 5.25
	Movie #2904.0 with rating 5.169
	Movie #903.0 with rating 5.036
	Movie #49.0 with rating 5.138
	Movie #921.0 with rating 5.113
	Movie #857.0 with rating 5.116
	Movie #317.0 with rating 5.071
	Movie #1177.0 with rating 5.122
	Movie #1206.0 with rating 5.071
	Movie #744.0 with rating 5.061
User #19's highest rating movies are:
	Movie #2018.0 with rating 4.935
	Movie #2904.0 with rating 4.934
	Movie #49.0 with rating 4.842
	Movie #903.0 with rating 4.843
	Movie #921.0 with rating 4.833
	Movie #857.0 with rating 4.827
	Movie #317.0 with rating 4.821
	Movie #1177.0 with rating 4.815
	Movie #1206.0 with rating 4.809
	Movie #744.0 with rating 4.802
User #20's highest rating movies are:
	Movie #2018.0 with rating 4.666
	Movie #2904.0 with rating 4.659
	Movie #49.0 with rating 4.578
	Movie #1177.0 with rating 4.553
	Movie #857.0 with rating 4.563
	Movie #921.0 with rating 4.568
	Movie #1211.0 with rating 4.504
	Movie #3434.0 with rating 4.507
	Movie #1147.0 with rating 4.526
	Movie #749.0 with rating 4.502